.container {
  padding: 0.9375rem;
  width: 100%;
  @include flex-box(column, center, center);

  .card {
    width: 345px;
    @include flex-box(column, center, flex-start);
    border-radius: 0.9375rem;
    margin-bottom: 30px;
    .preview {
      width: 100%;
      a {
        margin: 0;
      }
      img {
        max-width: 100%;
        height: auto;
        border-radius: 0.9375rem 0.9375rem 0 0;
      }
    }
    .info {
      width: 100%;
      border-radius: 0 0 0.9375rem 0.9375rem;
      padding: 15px 20px;
      background-color: $white;
      color: $darkblue;
      .no__code {
        @include flex-box(row, space-between, center);
        margin-bottom: 10px;
        text-transform: capitalize;
        a {
          font-weight: $bold;
        }
      }
      .title {
        text-transform: capitalize;
      }
    }
  }
}

// @media screen and(min-width:786px) {
//   .container {
//     @include flex-box(row, space-evenly, center);
//   }
// }
