header {
  width: 100%;
  padding: 1.5625rem;
  @include flex-box(column, center, center);
  h1 {
    color: $darkblue;
    text-align: center;
  }
  .underline {
    width: 40%;
    height: 3px;
    border-radius: 50%;
    background-color: $white;
    margin: 0.9375rem;
  }
  p {
    text-align: center;
    color: $lightblack;
    font-weight: $bold;
  }
}
